In [58]:
import pandas as pd
import matplotlib
import numpy as np
import matplotlib.pyplot as plt
import os
import json

In [35]:
# load data without review; parse date
dat = pd.read_csv('../dat/yelp_academic_dataset_review.csv', parse_dates=['date'])
#print len(dat)

In [36]:
# load business data
meta=[]
with open('../dat/yelp_academic_dataset_business.json', 'r') as handle:
    for line in handle.readlines():
        meta.append(json.loads(line))

In [37]:
print len(meta)
meta=pd.DataFrame(meta)

144072

In [38]:
# remain only 'Restaurants'
print len(meta.business_id.unique())
restaurant_id = set([i for i, c in meta.loc[pd.notnull(meta.categories),['business_id', 'categories']].values
                    if 'Restaurants' in c])
print len(restaurant_id)

144072
48485

In [39]:
dat = dat[dat.business_id.isin(restaurant_id)]
print len(dat)

2577298

In [40]:
# filter based on item counts
ITEM_THRES = 10

item_count = dat.business_id.value_counts()
print 'number of items: %d' % len(item_count)

dat = dat.set_index('business_id', drop=False)
dat['item_count'] = item_count
dat = dat.loc[dat['item_count'] >= ITEM_THRES]

number of items: 48485

In [41]:
# filter based on user counts
USER_THRES = 5

user_count = dat.user_id.value_counts()
print 'number of users: %d' % len(user_count)

dat = dat.set_index('user_id', drop=False)
dat['user_count'] = user_count
dat = dat.loc[dat['user_count'] >= USER_THRES]

number of users: 707751

In [42]:
# consider unique items and users
uni_item = dat.business_id.unique()
NI = len(uni_item)
uni_user = dat.user_id.unique()
NU = len(uni_user)
print 'number of items: %d' % NI
print 'number of users: %d' % NU

number of items: 31792
number of users: 109160

In [59]:

# write lists of users
my_list = dat.text.tolist()
print my_list[0]
with open('../dat/text', 'w') as f:
   json.dump(my_list,f)
   f.close()

This place is a area staple! Been around for years and not much has changed - I see this as a good thing! Stable and reliable!

My family goes every year for St. Pattys Day corn beef! Very nice place for a bar night dinner, or to catch up with some friends over drinks!

In [60]:
my_list=dat.stars.tolist()
print len(my_list)
with open('../dat/stars', 'w') as f:
    json.dump(my_list,f)
    f.close()

1548682